

<div class="container">
    <div class="col-md-10 col-lg-10">
        <div class="row base">
            <h3 class = "basic" id = "info">基本信息<button type="button" class="btn btn-info btn" ui-sref = "home.home1.look">返回</button></h3>
            <p>活动名称：春暖花开4月生日会</p>
            <p>活动时间：2017年11月12日</p>
            <p>地址：南风里小区3号楼4门301</p>
        </div>
        <div class="row base">
            <h3 class = "basic" id = "name">请输入栏目名称</h3>
            <my-file></my-file>
        </div>
        <div class="row base">
            <h3 class = "basic" id = "resident">居民预约</h3>
        </div>
        <div class="row">
            <!--<div class="col-md-6">-->
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <div class="input-group col-lg-12 col-md-12">
                        <p class = "name">姓名</p>
                        <input type="text" class="form-control" aria-label="..." placeholder="文本框内容">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6 col-md-6">
                    <div class="input-group  col-lg-12 col-md-12">
                        <p class = "phone">电话</p>
                        <input type="text" class="form-control" aria-label="..." placeholder="文本框内容">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <!--</div> -->
        </div>

        <div class="row">
            <div class="input-group col-lg-12 col-md-12 cls">
                <p class = "name">备注</p>
                <input type="text" class="form-control" aria-label="..." placeholder="文本框内容">
            </div><!-- /input-group -->
        </div>
        <div class="row btns">
            <button type="button" class="btn btn-info btn" ui-sref = "home.home1.look">报名</button>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 fix">
        <nav id="navbar-example2" class="navbar nav-side">

            <div class="timeline-wrap clearfix">
                <span class="circle top"></span>
                <span class="circle bottom"></span>
                <ul class="nav navbar-nav time-line">
                    <li class="active"><a href="#info">基本信息</a></li>
                    <li class=""><a href="#name">请输入栏目名称</a></li>
                    <li class="dropdown"><a href="#resident">居民预约</a></li>
                </ul>
            </div>

        </nav>

    </div>



</div>
