<div class="container">
    <div class="col-md-12 col-lg-12">
        <ol class="breadcrumb bg2">
            <li class="active"><a href="#" style = "color:#777">当前位置：首页</a></li>
            <li class="active"><a href="#" style = "color:#777">社区养老</a></li>
            <li class="active" style = "color:#777">离休退休</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class = "empty"></p>
    </div>
</div>
<div class="container">
    <div class="media row">
        <div class="col-md-2 lefts">
            <p>
                <img src="./images/1.png" alt="...">
            </p>
        </div>
        <div class="col-md-10 bir">
            <h4 class="media-heading">社区生日会</h4>
            提供社区五保供养申请的办理指南、注意事项、办理机构等相关的服务
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs cols">
        <li role="presentation" ui-sref-active="active bg"  ui-sref = "home.home1.introduce"><a href="#" style = "color:#333">活动介绍</a></li>
        <li role="presentation" ui-sref-active="active bg" ui-sref = "home.home1.look"><a href="#" style = "color:#ccc">查看活动</a></li>
        <li role="presentation" ui-sref-active="active bg"  ui-sref = "home.home1.summary"><a href="#" style = "color:#ccc">活动总结</a></li>
    </ul>
</div>
<ui-view></ui-view>