<div>

    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style = "color:#fff">注册<span class="sr-only">(current)</span></a></li>
            <li><a href="#" style = "color:#fff">登录</a></li>
            <li><a href="#" style = "color:#fff">通知</a></li>
            <li><a href="#" style = "color:#fff">设置</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class = "row three">
            <div class = "col-md-3 col-lg-3 mtop">
                <p>三鑫智慧社区</p>
                <p>一站式惠民服务平台</p>
            </div>
            <div class="col-md-9 col-lg-9 padclr">
                <ul class = "lis2">
                    <li class = "col-lg-3 col-md-1"><a ui-sref = "home.introduce1" ui-sref-active = "bgs">首页 <span></span></a></li>
                    <li class = "col-lg-3 col-md-3"><a ui-sref = "home.home1.introduce" ui-sref-active = "bgs">社区团体活动服务 <span></span></a></li>
                    <li class = "col-lg-3 col-md-3"><a ui-sref = "home.introduce2" ui-sref-active = "bgs">党组织活动服务  <span></span></a></li>
                    <li class = "col-lg-3 col-md-5"><a ui-sref = "home.introduce3" ui-sref-active = "bgs">居民自治活动服务 <span></span></a></li>
                    <!--<li class = "col-lg-2 col-md-2"></li>-->
                </ul>
            </div>
        </div>
    </div>


    <ui-view></ui-view>
</div>
