<div class="container">
    <div class="col-md-12 col-lg-12">
        <h3 class = "basics">活动列表</h3>
    </div>

    <div>
        <div class="col-md-4" ui-sref = "home.home1.detail1">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail flower">
                        <div class="top">
                            <img src="images/2.png" alt="...">
                            <span class = "pos">未开始</span>
                        </div>
                        <div class="caption birth">
                            <h3>春暖花开社区生日会</h3>
                            <p><span>2017年3月21日</span><span>三鑫社区11号二门301</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"  ui-sref = "home.home1.detail2">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail flower">
                        <div class="top">
                            <img src="images/3.png" alt="...">
                            <span class = "pos">已结束</span>
                        </div>
                        <div class="caption birth">
                            <h3>春暖花开社区生日会</h3>
                            <p><span>2017年3月21日</span><span>三鑫社区11号二门301</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" ui-sref = "home.home1.detail3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail flower">
                        <div class="top">
                            <img src="images/4.png" alt="...">
                            <span class = "pos">已总结</span>
                        </div>
                        <div class="caption birth">
                            <h3>春暖花开社区生日会</h3>
                            <p><span>2017年3月21日</span><span>三鑫社区11号二门301</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

