<div class="container">
    <div class="col-md-10 col-lg-10">
        <h3 class = "basic">请输入栏目名称</h3>
        <my-file></my-file>
    </div>
    <div class="col-md-2 col-lg-2">
        <nav id="navbar-example2" class="navbar nav-side">

            <div class="timeline-wrap clearfix">
                <span class="circle top"></span>
                <span class="circle bottom"></span>
                <ul class="nav navbar-nav time-line">
                    <li class="active"><a href="#info">请输入栏目名</a></li>
                </ul>
            </div>

        </nav>
    </div>
</div>
